# Set composer folder for this command and update
commands:
   01-updateComposer:
      command: export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update

option_settings:
  "aws:elasticbeanstalk:container:php:phpini":
    document_root: /
    composer_options: --no-dev --no-interaction --prefer-dist --optimize-autoloader
  "aws:elasticbeanstalk:application:environment":
    COMPOSER_HOME: /root

container_commands:
   00-optimize:
      command: "/usr/bin/composer.phar dump-autoload --optimize"